.u-section-1 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1 .u-group-1 {
  width: 771px;
  height: auto;
  min-height: 394px;
  margin: 66px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-1 .u-icon-1 {
  width: 62px;
  height: 62px;
  margin: 18px 317px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  width: 323px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1rem;
  margin: 16px 163px 0 205px;
}

.u-section-1 .u-form-1 {
  height: 151px;
  margin: -14px 116px 0 131px;
}

.u-section-1 .u-input-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: -5px auto 0 85px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 21px;
  height: 21px;
  margin: -21px auto 0 54px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    padding: 5px 31px 6px 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 294px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 138px;
    margin-left: 180px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 91px;
    margin-left: 106px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 232px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 68px;
    margin-left: 110px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 21px;
    margin-left: 36px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 143px;
  }

  .u-section-1 .u-text-1 {
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
    padding: 2px 0 4px;
  }
}