.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  width: 270px;
  height: auto;
  min-height: 374px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 11px;
}

.u-section-1 .u-icon-1 {
  width: 39px;
  height: 39px;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  width: auto;
  margin: 19px auto 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1rem;
  margin: 5px 19px 0;
}

.u-section-1 .u-form-1 {
  height: 133px;
  width: 190px;
  margin: 14px auto 0;
}

.u-section-1 .u-input-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 3px 30px 3px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-1 .u-group-1 {
    min-height: 339px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-1 {
    width: 42px;
    height: 42px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-form-1 {
    height: 141px;
    width: 210px;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
    padding: 2px 0 4px;
  }
}